body {
    background-color: #ad88ed;
    margin: 0px;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}
h1 {
    font-family: monospace;
    font-size: 50px;
}
h2 {
    font-family: monospace;
    font-size: 40px;
}
h3 {
    font-family: monospace;
    font-size: 20px;
}
p {
    font-size: 120%;
    font-family: monospace;
}
a {
    font-family: monospace;
    color: black;
    text-decoration: none;
}
a:hover {
    color: #a134cf;
}
.header {
    list-style-type: none;
    overflow: hidden;
    background-color: rgb(32, 32, 32);
    size: inherit;
    height: 70px;
    margin: 0;
    padding: 0 auto;
    align-items: center;
    position: fixed;
    width: 100%;
    box-shadow: 0 0px 5px rgb(32, 32, 32);
    z-index: 1000;
}
.header li {
    display: inline-block;
    text-align: center;
    position: relative;
    height: inherit;
}
.header li:not(:last-child)::after {
    content: "";
    position: absolute;
    right: -3px;
    top: 25%;
    height: 50%;
    width: 1px;
    background-color: white;
}
.header li a {
    display: block;
    color: white;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-size: 20px;
    margin-top: 8px;
}
.header li a:hover {
    color: #a134cf;
    background-color: rgb(42, 42, 42)
}
.content {
    padding-top: 70px
}
.home-parallax {
    width: 100%;
    background-color: rgb(22, 22, 22);
}
.home-title {
    display: flex;
    margin: 0 auto;
    height: 830px;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.home-title h1 {
    margin: 0;
    width: 350px;
}
.home-parallax-bg {
    min-height: 830px;
    width: 90%;
    margin: auto;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.home-about-box {
    width: 60%;
    margin: auto;
    padding-bottom: 20px;
}
.home-about-box h2 {
    color: #a134cf;
    padding-top: 15px;
    margin: 0;
    text-align: center;
}
.home-about-box h3 {
    color: #a134cf;
    margin-bottom: 5px;
}
.home-about-box p {
    margin: 0;
    color: white;
}
.home-gallery {
    position: relative;
    height: 500px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.arrow {
    position: absolute;
    top: 50%;
    z-index: 10;
    cursor: pointer;
}
#arrow-left {
    border-width: 20px 30px 20px 0;
    border-color: transparent #fff transparent transparent;
    left: 0;
    margin-left: 20px;
    position: absolute;
    z-index: 10;
    border-style: solid;
}
#arrow-right {
    border-width: 20px 0 20px 30px;
    border-color: transparent transparent transparent #fff;
    right: 0;
    margin-right: 20px;
    z-index: 10;
    border-style: solid;
}
.slider {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.slide {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60%;
    height: 80%;
    background-size: cover;
    background-position: center;
    transform: translate(-50%, -50%) scale(0.8);
    opacity: 0;
    transition: all 0.5s ease;
    filter: blur(1px);
}
.slide.active {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
    z-index: 3;
    filter: none;
}
.slide.left {
    transform: translate(-120%, -50%) scale(0.85);
    opacity: 0.4;
    z-index: 2;
}
.slide.right {
    transform: translate(20%, -50%) scale(0.85);
    opacity: 0.4;
    z-index: 2;
}
.home-team-box {
    background-color: rgb(22, 22, 22);
    width: 60%;
    margin: auto;
    padding-bottom: 1px;
}
.home-team-box h2 {
    color: #a134cf;
    padding-top: 15px;
    margin: 0;
    text-align: center;
}
.home-team-box h3 {
    color: white;
    margin: 0;
    text-align: center;
}
.home-team-box p {
    margin: 0;
    color: white;
    text-align: center;
}
.home-team-box hr {
    color: rgb(170, 170, 170);
    width: 95%;
}
.home-team-pfp-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 10%;
    margin: 50px 0;
}
.home-team-pfp {
    width: 200px;
}
.home-team-pfp a:hover {
    text-decoration: underline;
    color: white;
}
@media (max-width: 1300px) {
    .home-team-pfp-box {
        flex-direction: column;
        align-items: center;
        gap: 50px
    }
    .home-team-box hr {
        display: none;
    }
}
.team-box {
    background-color: rgb(22, 22, 22);
    width: 100%;
    min-height: 250px;
    margin: 20px;
}
.team-box h1 {
    color: black;
}
.team-box h2 {
    color: white;
    margin: 0;
    float: left;
}
.team-box p {
    color: white;
    font-size: 16px;
    padding-right: 100px;
}
.team-skin {
    height: 100%;
    width: 200px;
    display: flex;
    justify-content: center;
    float: left;
}
.team-skin img {
    margin: 20px;
    height: 200px;
    width: auto;
}
.team-box-title {
    padding-top: 20px;
}
.team-box-socials {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.team-box-socials a {
    padding-left: 20px;
}
.team-box-socials img {
    height: 60px;
    width: 60px;
}
.tag-box {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.tag {
    background-color: #a134cf;
    border-radius: 25px;
    display: inline-block;
}
.tag p {
    margin: 1px 5px;
    padding: 0;
}
.footer {
    background-color: rgb(32, 32, 32);
    color: white;
    box-shadow: 0 -0 5px rgb(32, 32, 32);
}
.footer-space {
    padding: 20px 80px 5px 80px;
    max-width: 1500px;
    margin: auto;
}
.footer-top {
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-logo {
    display: flex;
    flex-shrink: 0;
    padding-right: 20px;
}
.footer-logo h2 {
    margin: auto 0;
    width: auto;
    font-size: 16px;
}
.footer-links {
    overflow: hidden;
    justify-content: center;
    align-items: center;
    display: flex;
}
.footer-links a {
    color: #a134cf;
    padding: 0px 20px 0px 20px;
    font-size: 20px;
}
.footer-links a:hover {
    text-decoration: underline;
}
@media (max-width: 1000px) {
    .footer-top {
        flex-direction: column;
        align-items: center;
        padding: 0;
    }
    .footer-links {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: column;
        gap: 0px;
    }
    .footer-links a {
        padding: 10px 0 10px 0;
    }
}
.footer-info {
    margin: 0;
    width: 100%;
    grid-column: 1/3;
}
.footer-contact {
    grid-row: 2;
    grid-column: 1/3;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    margin-bottom: 15px;
}
.footer-socials {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    grid-row: 3;
    grid-column: 1/3;
}
.footer-socials a:last-child {
    margin-left: 20px;
}
.footer p {
    margin: 0;
    margin-bottom: 10px;
    font-size: 14px;
}