body {
    background-color: #ad88ed;
    margin: 0px;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}
h1 {
    font-family: monospace;
}
h2 {
    font-family: monospace;
}
h3 {
    font-family: monospace;
}
p {
    font-size: 120%;
    font-family: monospace;
}
a {
    font-family: monospace;
}
.header {
    list-style-type: none;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    size: inherit;
    height: 70px;
    margin: 0;
    align-items: center;
}
.header li {
    display: inline-block;
    text-align: center;
    position: relative;
    height: inherit;
}
.header li:not(:last-child)::after {
    content: "";
    position: absolute;
    right: -3px;
    top: 25%;
    height: 50%;
    width: 1px;
    background-color: white;
}
.header li a {
    display: block;
    color: white;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-size: 20px;
    margin-top: 8px;
}
.header li a:hover {
    color: #a134cf;
    background-color: rgb(44, 44, 44)
}
.footer {
    background-color: black;
    color: white;
    height: 100px;
    size: inherit;
    bottom: 0px;
    margin: 0;
}
.footer p {
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 0;
}